<div class="row">
  <div class="offset-3 col-6">
    <h2>Signup</h2>

    <form>
      <div class="mb-3">
        <label for="name-signup" class="form-label">Username</label>
        <input type="text" required="required" class="form-control" id="name-signup">
      </div>
      <div class="mb-3">
        <label for="password-signup" class="form-label">Password</label>
        <input type="password" minlength="8" class="form-control" id="password-signup">
      </div>
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="remember-me">
        <label class="form-check-label" for="remember-me">Check me out</label>
      </div>
      <button type="submit" class="btn btn-primary">Sign me up</button>
    </form>
  </div>
</div>

<script src="./js/signup.js"></script>
